#techRequestPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: black !important;
    text-align: start;
}

#leftBanner {
    content: "";
    background-image: url(/assets/lightbanner.jpg);
    background-repeat: repeat;
    width: 600px;
    height: 80px;
    transform: rotate(90deg) translate(260px, 260px);
}

#liveText {
    display: flex;
    gap: 2.5px;
}

.field {
    background-color: lightgray;
    padding: 0px 2px;
    min-width: 30px;
}