<div id="banner"></div>
<div id="fullPage">
    <h2>Your donation makes a difference</h2>

    <div id="textWrapper">
        <p class="center">The Shore Foundation refurbishes<br> computers and provides them to people in-need.</p>
    </div>
    <img id="zLine" src="/assets/zline_dot.svg" alt="circuit design" />
    <div id="textWrapperRight">
        <p class="center">Your donation can help prepare
            students<br> for success this school year.</p>
    </div>


    <p>Check donations may be mailed to:</p>
    <p>The Shore Foundation<br> 52 Marway Circle Suite 2<br> Rochester, NY 14624</p>
    <p>Please make check payable to: <b>The Shore Foundation</b></p>
</div>

<iframe
    src="https://pages.sumac.com/sumac/sumac_start_new_session.php?package=donation2&userfolder=../ORG/theshorefoundation"
    style="width: 95%; height: 1600px;"></iframe>