<h2>Your donation makes a difference</h2>

<p>The Shore Foundation refurbishes computers and provides them to people in-need. Your donation can help prepare students for success this school year.</p>

<br><br>

<p>Check donations may be mailed to:</p>
<p>The Shore Foundation 52 Marway Circle Suite 2 Rochester, NY 14624</p>
<p>Please make check payable to: The Shore Foundation</p>

<iframe src="https://pages.sumac.com/sumac/sumac_start_new_session.php?package=donation2&userfolder=../ORG/theshorefoundation" style="width: 95%; height: 1600px;"></iframe>