<div id="fullPage">
    <div id="banner">
        <img class="icon" src="/assets/TeamIcon.svg" alt="The Shore Foundation - Team" />
    </div>
    <div id="teamDiv">
        <div id="teamTop">
            <h1>Meet The Team</h1>
        </div>
        <div id="team">
            <div class="teammate" id="megan">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>Megan Alchowiak<br>Executive Director</b></p>
                </div>
            </div>
            <div class="teammate" id="rob">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>Robert Poltrino<br>Treasurer & Chief<br>Operating Officer</b></p>
                </div>
            </div>
            <div class="teammate" id="chris">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>Chris Dick<br>Warehouse Manager</b></p>
                </div>
            </div>
            <div class="teammate" id="james">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>James Murphy<br>Computer Technician</b></p>
                </div>
            </div>
            <div class="teammate" id="josh">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>Joshua Geise<br>President</b></p>
                </div>
            </div>
            <div class="teammate" id="chance">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>Chance Wright<br>Vice President</b></p>
                </div>
            </div>
            <div class="teammate" id="connor">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>Connor Faucher<br>IT Resale<br>Coordinator</b></p>
                </div>
            </div>
            <div class="teammate" id="cam">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>Cam Nikiel<br>Computer Support<br>Specialist</b></p>
                </div>
            </div>
            <div class="teammate" id="jack">
                <img class="pic" src="/assets/linkImg1.jpg" />
                <div class="plate">
                    <p><b>Jack Richards<br>Web Developer</b></p>
                </div>
            </div>
        </div>
    </div>
</div>