<div id="fullPage">
    <div id="banner"><img class="icon" src="/assets/FAQIcon.svg" alt="The Shore Foundation - Frequently Asked Questions FAQ" /></div>
    <h1 id="title">Frequently Asked Questions</h1>
    <div class="question" *ngFor="let question of questions">
        <img id="rotateLeft" src="/assets/CornerDot.svg" />
        <div id="qLeft">
        <p><b>Q: </b> {{ question.question }}</p>
        <div style="display: flex; flex-direction: row; gap: 2px;">
            <p><b>A: </b> </p>
            <p id="answer">{{ question.answer }}</p>
        </div>
    </div>
        <a routerLink='{{ question.link }}'>Learn More</a>
    </div>

</div>