#fullPage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(241,243,254);
    background: linear-gradient(180deg, rgba(241,243,254,1) 0%, rgba(178,200,241,1) 77%);
}

#paragraph {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    text-align: center;
}

#paragraph p {
    font-size: 24px;
}

#large {
    font-size: 28px !important;
}

#paragraph h1 {
    font-size: 40px;
    color: #0d2b5e;
}

#banner {
    height: 70px;
    width: 100%;
    background-image: url('/assets/lightbanner.jpg');
}

#aboutImage {
    border: 3px solid #0d2b5e;
}