<div id="navbar">
  <a id="left" routerLink="">
    <img id="navLogo" src="/assets/logo.jpg" alt="The Shore Foundation logo" />
    <h2>The Shore Foundation</h2>
  </a>
  <ul id="navList">
    <li>
      <a routerLink="">Home</a>
    </li>

    <li>
      <a routerLink="/about">About</a>

      <ul class="subMenu">
        <li><a routerLink="/impact" data-text="Our Impact">Our Impact</a></li>
        <li><a routerLink="/team" data-text="Our Team">Our Team</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/support">Support</a>

      <ul class="subMenu">
        <li><a routerLink="/cpu" data-text="Corporate">Corporate</a></li>
        <li><a routerLink="/cloud" data-text="In-kind">In-kind</a></li>
        <li><a routerLink="/power" data-text="Individual">Individual</a></li>
        <li><a routerLink="/volunteer" data-text="Volunteer">Volunteer</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/news">News</a>
    </li>

    <li>

      <a routerLink="/contact">Contact</a>

      <ul class="subMenu">
        <li><a routerLink="/faq" data-text="FAQ">FAQ</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/donate" id="donateLink">Donate</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<div id="footer">
  <div id="text">
    <p id="address">
      THE SHORE FOUNDATION, 52 MARWAY CIR, ROCHESTER, NY, UNITED STATES
    </p>
    <div id="threeLinks">
      <a href="https://www.instagram.com/theshorefoundation/"><img class="socialIcon" src="/assets/insta.png" alt="Instagram" /></a>
      <a href="https://www.linkedin.com/company/theshorefoundation/"><img class="socialIcon" src="/assets/linkedin.png" alt="LinkedIn" /></a>
      <a href="https://www.facebook.com/theshorefoundationofficial/"><img class="socialIcon" src="/assets/fb.png" alt="Facebook" /></a>
    </div>
    <p id="blurb">
      <i>The Shore Foundation provides access to technology for low-income individuals and families in our community. Over the last 3 years The Shore Foundation has donated over 1,000 refurbished computers to non-profit organizations and schools in Upstate New York.</i>
    </p>
  </div>
</div>
