<div id="navbar">
  <a id="left" routerLink="">
    <img id="navLogo" src="/assets/logo.jpg" alt="The Shore Foundation logo" />
    <h2>The Shore Foundation</h2>
  </a>
  <ul id="navList">
    <li>
      <a routerLink="">Home</a>
    </li>

    <li>
      <a routerLink="/about">About</a>

      <ul class="subMenu">
        <li><a routerLink="/impact" data-text="Our Impact">Our Impact</a></li>
        <li><a routerLink="/team" data-text="Our Team">Our Team</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/support">Support</a>

      <ul class="subMenu">
        <li><a routerLink="/cpu" data-text="Corporate">Corporate</a></li>
        <li><a routerLink="/cloud" data-text="In-kind">In-kind</a></li>
        <li><a routerLink="/power" data-text="Individual">Individual</a></li>
        <li><a routerLink="/volunteer" data-text="Volunteer">Volunteer</a></li>
      </ul>
    </li>

    <li>
      <a routerLink="/news">News</a>
    </li>

    <li>

      <a routerLink="/contact">Contact</a>

      <ul class="subMenu">
        <li><a routerLink="/faq" data-text="FAQ">FAQ</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/donate" id="donateLink">Donate</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<div id="footer">

</div>
