

router-outlet {
    width: 100%;
}

#navLogo {
    width: 4em;
}

#left {
    margin-right: auto;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 45%;
    text-decoration: none;
    color: black;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: white;
    padding: 10px 0px;
    z-index: 100;
    letter-spacing: 1px;
}

#left > h2 {
    font-size: 40px;
    letter-spacing: 2px;
    font-family: kim;
}

#navList {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    font-family: Aero;
}

#navList > li {
    padding: 10px;
}

li > a {
    text-decoration: none;
    color: black;
}

#navList > li:hover {
    background-color: #010619;
    border-radius: 35px;
    box-shadow: 5px 5px #ddd inset
}

.subMenu {
    display: none;
    position: absolute;
}

li:hover .subMenu {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 15px 15px 7px 7px;
    line-height: 28px;
    width: 230px;
    background-color: white;
}

.subMenu > li > a:hover {
    background-size: 100%;
    width: auto;
    height: 32px;
    background-color: blue;
    border-bottom: 2px solid white;
}

.subMenu > li > a {
    background-size: 0px;
    width: 200px;
    height: 32px;
    background-color: #010619;
    border-bottom: 2px solid white;
}



ul {
    float: right;
    list-style: none; 
}
