* {
    text-decoration: none;

}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bannerDiv {
    display: flex;
    border-top: 8px solid orange;
    border-bottom: 8px solid orange;
    border-bottom-style: ridge;
    border-top-style: ridge;
}

#text {
    width: 33vw;
    margin-left: 3vw;
    font-family: 'Courier';
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#banner {
    width: 68.5vw;
    clip-path: polygon(calc(0% + 15vw) 0, 100% 0, 100% 100%, 0% 100%);
    object-fit: cover;
    margin-left: -6vw;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5em;
    font-family: 'trebuchet MS', Arial, Helvetica;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    text-align: center;
}

a {
    font-family: 'trebuchet MS', Arial, Helvetica;
}

a:visited {
    color: lightgray;
}




/* 

#blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid darkgray;
    margin-bottom: 20px;
    width: 80vw;
}

#blue {
    color: teal;
}

#links {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.homeLink {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid darkgray;
}

.linkImg {
    width: 20em;
    padding: 15px;
}

.linkInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */