* {
    text-decoration: none;
}

#triangle {
    position: absolute;
    clip-path: polygon(0 0, calc(100% - 6vw) 0, 0 calc(100% - 2vw));
    width: 800px;
    height: 500px;
    color: white;
    background-color: none;
    display: flex;
    flex-direction: column;
}

#triangle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(12, 33, 86, .5);
    mix-blend-mode: multiply;
}

#triangle>h1 {
    font-size: 70px;
    line-height: 70px;
    padding-left: 30px;
    margin-top: 20px;
    z-index: 31;
}

#triangle>a,
h3 {
    padding-left: 30px;
    line-height: 26px;
    z-index: 31;
}

#bannerDiv {
    background-image: url("/assets/banner.jpg");

    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10vw;
}

#bannerDiv>img {
    width: 5em;
    height: 5em;
}

#impactDiv {
    height: 600px;
    width: 100%;
    background-color: #000108;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#impactRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

#title>h1 {
    border-bottom: 2px solid white;
    font-size: 74px;
    margin-bottom: 0px;
}

#stat {
    top: 20px;
}

#separate {
    margin-right: 20px;
}

#threeImages {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.image {
    width: 24vw;
}

.container {
    width: 27vw;
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageText {
    width: 150px;
    height: 32px;
    position: absolute;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageText::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 22, 22, .5);
    mix-blend-mode: hard-light; 
}

#left {
    background-image: url(/assets/leftborder.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#middle {
    background-image: url(/assets/centerborder.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#right {
    background-image: url(/assets/rightborder.png);
    background-size: contain;
    background-repeat: no-repeat;
}







/* 
#left {
    clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 15% 100%, 0% 100%, 0% 15%);
}

#middle {
    clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
}

#right {
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0% 85%, 0% 15%);
} */


/* #home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bannerDiv {
    display: flex;
    border-top: 8px solid orange;
    border-bottom: 8px solid orange;
    border-bottom-style: ridge;
    border-top-style: ridge;
    height: 17vw;
    font-size: 1vw;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(89,89,89,1) 25%, rgba(106,106,106,1) 50%, rgba(84,84,84,1) 75%, rgba(38,38,38,1) 100%);
}

#text {
    width: 33vw;
    margin-left: 3vw;
    font-family: 'Courier';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner {
    width: 68.5vw;
    clip-path: polygon(calc(0% + 15vw) 0, 100% 0, 100% 100%, 0% 100%);
    object-fit: cover;
    margin-left: -6vw;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5em;
    font-family: 'trebuchet MS', Arial, Helvetica;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    text-align: center;
}

a {
    font-family: 'trebuchet MS', Arial, Helvetica;
}

a:visited {
    color: lightgray;
}

#homeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: #1f1f1f;
    color: lightgray;
    font-family: 'trebuchet MS', Arial, Helvetica;
    padding-top: 50px;
}
 */



/* 

#blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid darkgray;
    margin-bottom: 20px;
    width: 80vw;
}

#blue {
    color: teal;
}

#links {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.homeLink {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid darkgray;
}

.linkImg {
    width: 20em;
    padding: 15px;
}

.linkInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */