<div id="home">

    <div id="triText">
        <h1>Bridging the<br> Divide</h1>
        <h3>Providing access, <br>Improving lives</h3>
        <a routerLink="/about">Learn More >></a>
    </div>

    <div id="triangle">

    </div>


    <div id="bannerDiv">
        <div id="bannerLeft">
            <h1>Learn more about<br>our impact:</h1>

        </div>
        <div id="bannerRight">
            <div id="bannerTop">
                <img src="/assets/ConnectIconLight.svg" alt="connecting icon" />
                <img src="/assets/RecycleIconLight.svg" alt="recycling icon" />
                <img src="/assets/ReuseIconLight.svg" alt="reusing icon" />
            </div>
            <div id="bannerBottom">
                <div class="bannerText">
                    <h3>Reusing</h3>
                </div>
                <div class="bannerText">
                    <h3>Recycling</h3>
                </div>
                <div class="bannerText">
                    <h3>Connecting</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="impactDiv">
        <div id="impactRow">
            <div id="lines" class="impactSection">
                <img id="fallingLines" src="/assets/FallingLines.svg" alt="circuitry design" />
            </div>
            <div id="missionDiv">
                <div id="missionStatement">
                    <div>
                        <div id="graphicL">
                            <img id="accentLeft" src="/assets/AccentLineLightmode.svg">
                        </div>
                        <div id="graphicL">
                            <img id="accentLeftDown" src="/assets/AccentLineLightmode.svg">
                        </div>
                    </div>
                    <div id="missionText">
                        <h1>Our Mission</h1>
                        <h2>To empower our communities by enhancing technological access, awareness, and ability. </h2>
                    </div>
                    <div>
                        <div id="graphicR">
                            <img id="accentRight" src="/assets/AccentLineLightmode.svg">
                        </div>
                        <div id="graphicR">
                            <img id="accentRightDown" src="/assets/AccentLineLightmode.svg">
                        </div>
                    </div>
                </div>
                <img id="singleDown" src="/assets/SingleDownLight.svg" />
            </div>

            <div id="stat" class="impactSection">
                <img id="separate" src="/assets/AccentLineLightmode.svg" alt="circuitry design" />
                <img id="circleGraphic" src="/assets/CircleGraphicLight.svg" alt="over 1k computers donated" />
                <div id="statText">
                    <h3 id="total">550+</h3>
                    <h4 id="caption">computers donated <br> to those in need</h4>
                </div>
            </div>
        </div>



        <!-- <div id="threeImages">
            <div class="container" id="left">
                <div class="overflow">
                    <img class="image" src="/assets/reusing.jpg" alt="reusing" />
                </div>

            </div>
            <div class="container" id="middle">
                <div class="overflow">
                    <img class="image" src="/assets/recycling.jpg" alt="reusing" />
                </div>

            </div>
            <div class="container" id="right">
                <div class="overflow">
                    <img class="image" src="/assets/connecting.jpg" alt="reusing" />
                </div>

            </div>
        </div> -->
    </div>

</div>