<div id="home">
    <img id="banner" src="/assets/banner.png" alt="The Shore Foundation banner" />

    <div id="blurb">
        <h1 id="blue">The Shore Foundation:</h1>

        <h3>Bridging the digital divide and improving lives through access to technology</h3>

        <p>As technology becomes more integrated with our day-to-day activities,<br>
            it also highlights divisions of access, especially for low-income families.</p>

        <p>The simplest description of the digital divide is the gap that exists beween people who have <br>
            access to modern information/technology and those who lack that access.</p>

        <p>It is not a new concept, but it has been magnified with COVID-19 and the shift to digital learning<br>
            and remote work expectations. <b>The Shore Foundation is working hard to help with that need.</b></p>
    </div>

    <div id="links">
        <div class="homeLink">
            <a routerLink="/donate">
                <img class="linkImg" src="/assets/linkImg1.jpg" alt="Shore Volunteers" />
            </a>
            <div class="linkInfo">
                <h3>You can help</h3>
                <p>Donate to The Shore Foundation and help bridge the digital divide in our community.</p>
                <button type="button" routerLink="/donate">Find Out How</button>
            </div>
        </div>
        <div class="homeLink">
            <div class="linkInfo">
                <h3>About</h3>
                <p>Learn about our organization, mission and history. </p>
                <button type="button" routerLink="/about">Learn More</button>
            </div>
            <a routerLink="/about">
                <img class="linkImg" src="/assets/linkImg2.jpg" alt="Shore Volunteers" />
            </a>
        </div>
        <div class="homeLink">
            <a routerLink="/process">
                <img class="linkImg" src="/assets/linkImg3.jpg" alt="Shore Volunteers" />
            </a>
            <div class="linkInfo">
                <h3>Our Process</h3>
                <p>See our unique refurbishment process and steps.</p>
                <button type="button" routerLink="/process">More Info</button>
            </div>
        </div>
    </div>

    <div id="social">

    </div>

</div>