<div id="home">

    <div id="triangle">
        <h1>bridging the<br> divide</h1>
        <h3>Providing access, <br>improving lives</h3>
        <a routerLink="/about">Learn More >></a>
    </div>

    <div id="bannerDiv">
        <img src="/assets/ConnectIcon.svg" alt="connecting icon" />
        <img src="/assets/RecycleIcon.svg" alt="recycling icon" />
        <img src="/assets/ReuseIcon.svg" alt="reusing icon" />
    </div>

    <div id="impactDiv">
        <div id="impactRow">
            <div id="lines" class="impactSection">
                <img id="fallingLines" src="/assets/FallingLines.svg" alt="circuitry design" />
            </div>
            <div id="title" class="impactSection">
                <h1>IMPACT</h1>
                <img id="singleDown" src="/assets/SingleDown.svg" />
            </div>
            <div id="stat" class="impactSection">
                <img id="separate" src="/assets/AccentLine.svg" alt="circuitry design" />
                <img id="circleGraphic" src="/assets/CircleGraphic.svg" alt="over 1k computers donated" />
                <div id="statText">
                    <h3 id="total">550+</h3>
                    <h4 id="caption">computers donated <br> to those in need</h4>
                </div>
            </div>
        </div>

        <div id="threeImages">
            <div class="container" id="left">
                <div class="overflow">
                    <img class="image" src="/assets/reusing.jpg" alt="reusing" />
                </div>
                <div class="imageText">
                    <h3>Reusing</h3>
                </div>
            </div>
            <div class="container" id="middle">
                <div class="overflow">
                    <img class="image" src="/assets/recycling.jpg" alt="reusing" />
                </div>
                <div class="imageText">
                    <h3>Recycling</h3>
                </div>
            </div>
            <div class="container" id="right">
                <div class="overflow">
                    <img class="image" src="/assets/connecting.jpg" alt="reusing" />
                </div>
                <div class="imageText">
                    <h3>Connecting</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- <div id="bannerDiv">
        <div id="text">
            <h1>The Shore Foundation:</h1>

            <h2 class="tw"></h2>
        </div>

        <img id="banner" src="/assets/graphic.png" alt="circuit lines" />
    </div>

    <div id="homeDiv">
        <h2>The Shore has donated over 1000 computers to schools and non-profits in the Rochester area</h2>
        <h2><i>See our impact in the community</i></h2> -->


<!-- <a routerLink="/process">
            <h2 id="impact">Our Impact</h2>
        </a>
        <div id="stats">
            <div class="stat">
                <img src="/assets/logo.png" alt="icon" style="width: 30px; height: 30px;" />
                <h3>XXXX</h3>
                <h3>Computers donated</h3>
            </div>
            <div class="stat">
                <img src="/assets/logo.png" alt="icon" style="width: 30px; height: 30px;" />
                <h3>XXXX lbs.</h3>
                <h3>Metal recycled</h3>
            </div>
            <div class="stat">
                <img src="/assets/logo.png" alt="icon" style="width: 30px; height: 30px;" />
                <h3>XXXX lbs.</h3>
                <h3>Electronics safely recycled</h3>
            </div>
        </div> 
    </div> -->


<!-- <img id="banner" src="/assets/banner.png" alt="The Shore Foundation banner" />

    <div id="blurb">
        <h1 id="blue">The Shore Foundation:</h1>

        <h3>Bridging the digital divide and improving lives through access to technology</h3>

        <p>As technology becomes more integrated with our day-to-day activities,<br>
            it also highlights divisions of access, especially for low-income families.</p>

        <p>The simplest description of the digital divide is the gap that exists beween people who have <br>
            access to modern information/technology and those who lack that access.</p>

        <p>It is not a new concept, but it has been magnified with COVID-19 and the shift to digital learning<br>
            and remote work expectations. <b>The Shore Foundation is working hard to help with that need.</b></p>
    </div>

    <div id="links">
        <div class="homeLink">
            <a routerLink="/donate">
                <img class="linkImg" src="/assets/linkImg1.jpg" alt="Shore Volunteers" />
            </a>
            <div class="linkInfo">
                <h3>You can help</h3>
                <p>Donate to The Shore Foundation and help bridge the digital divide in our community.</p>
                <button type="button" routerLink="/donate">Find Out How</button>
            </div>
        </div>
        <div class="homeLink">
            <div class="linkInfo">
                <h3>About</h3>
                <p>Learn about our organization, mission and history. </p>
                <button type="button" routerLink="/about">Learn More</button>
            </div>
            <a routerLink="/about">
                <img class="linkImg" src="/assets/linkImg2.jpg" alt="Shore Volunteers" />
            </a>
        </div>
        <div class="homeLink">
            <a routerLink="/process">
                <img class="linkImg" src="/assets/linkImg3.jpg" alt="Shore Volunteers" />
            </a>
            <div class="linkInfo">
                <h3>Our Process</h3>
                <p>See our unique refurbishment process and steps.</p>
                <button type="button" routerLink="/process">More Info</button>
            </div>
        </div>
    </div>

    <div id="social">

    </div> -->