<div id="all">
    <div id="banner">
        <img class="icon" src="/assets/ContactIcon.svg" alt="The Shore Foundation - Contact" />
    </div>
    <div id="top">
        <h2>Contact The Shore Foundation</h2>
    </div>
    <div id="contact">
        <div id="left">
            <p>The Shore Foundation provides access to technology for low-income individuals and families in the community. </p>
            <p>Over the last 3 years The Shore Foundation has donated over 1,000 refurbished computers to individuals and non-profit organizations in need.</p>
        </div>
        <div id="right">
            <form id="form" onsubmit="contact()">
                <label for="fname">Name *</label>
                <div id="name">
                    <div class="name" id="fName">
                        <input name="fname" id="fname" type="text" />
                        <label for="fname" class="small">First Name</label>
                    </div>
                    <div class="name">
                        <input name="lname" id="lname" type="text" />
                        <label for="lname" class="small">Last Name</label>
                    </div>
                </div>
                <label for="email">Email Address *</label>
                <input type="text" name="email" id="email" />
                <label for="subject">Subject</label>
                <input type="text" name="subject" id="subject" />
                <label for="message">Message *</label>
                <textarea name="message" id="message"></textarea>
            </form>
        </div>
    </div>
    <div id="bottom">
        <h3>The Shore Foundation<br>52 Marway Circle, Rochester, NY 14624<br>general@theshorefoundation.com</h3>
    </div>
</div>