<div id="all">
    <div id="top">
        <h2>Contact The Shore Foundation</h2>
    </div>
    <div id="contact">
        <div id="left">

        </div>
        <div id="right">
            <form id="form" onsubmit="contact()">
                <label for="fname">Name *</label>
                <div id="name">
                    <div class="name">
                        <input name="fname" id="fname" type="text" />
                        <label for="fname">First Name</label>
                    </div>
                    <div class="name">
                        <input name="lname" id="lname" type="text" />
                        <label for="lname">Last Name</label>
                    </div>
                </div>
                <label for="email">Email Address *</label>
                <input type="text" name="email" id="email" />
                <label for="subject">Subject *</label>
                <input type="text" name="subject" id="subject" />
                <label for="email">Email Address *</label>
                <input type="text" name="email" id="email" />
            </form>
        </div>
    </div>
</div>