#all {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: rgb(241, 243, 254);
    background: linear-gradient(180deg, rgba(241, 243, 254, 1) 0%, rgba(178, 200, 241, 1) 77%);
}
#contact {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    border-bottom: 2px solid black;
    padding: 10px 0;
}
#top {
    width: 60%;
    border-bottom: 2px solid black;
    
}
#left, #right {
    width: 50%;
}
#name {
    display: flex;

}
.name {
    display: flex;
    flex-direction: column;
}

#form {
    display: flex;
    flex-direction: column;
}

#fName {
    margin-right: 38px;
}

#bottom > h3 {
    text-align: center;
}

.small {
    font-size: 10px;
}

label {
    padding-top: 15px;
}

#message {
    height: 60px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 0px;
    resize: vertical;
}