<div id="fullPage">
    <div id="banner">
        <img class="icon" src="/assets/SF_SupportIcon_CPU.svg" alt="The Shore Foundation - Support" />
    </div>

    <div id="heading">
        <img src="/assets/CPU.png" alt="Community Partner Union logo" />
        <div id="headingRight">
            <h1>
                Corporate supporters
            </h1>
            <h2>
                Our <b>CPU (Community Partner Union)</b> is made of companies and foundations that financially support
                The Shore Foundation and believe in a connected community.
            </h2>
        </div>
    </div>
    <div id="content">
        <p>
            A <b>CPU</b> is often considered the brain of the computer, but our CPU is the heart of The Shore
            Foundation. These members show their commitment to our mission through financial contributions.
        </p>
        <p>
            <b>Community Partner Union (CPU)</b> members contribute annually through their company or foundation to
            cover program expenses to refurbish technology for people in need.
        </p>
        <h2>
            <b>Impact the digital divide in your community</b>
        </h2>
        <p>
            Thank you to our generous corporate supporters and foundations <i>(full listing to come soon).</i>
        </p>
        <div id="threeImages">
            <img id="copper" class="circuitImg" src="/assets/copper.png" alt="Copper circuit support tier" />
            <img class="circuitImg" src="/assets/silver.png" alt="Silver circuit support tier" />
            <img class="circuitImg" src="/assets/gold.png" alt="Gold circuit support tier" />
        </div>

        <p><b>
                CPU members can choose the non-profit organization(s) who will receive refurbished computers/laptops
                from your contribution. Computer quantity corresponds with the different levels of support but ranges
                from 15 to 100 computers annually.
            </b></p>
        <p>
            CPU members will also receive a formal donation acknowledgement letter, metallic plaque on the CPU
            recognition wall, sign with company logo in our Warehouse, name and logo on this webpage, invitations to CPU
            member-only receptions/networking events, and feature(s) on our social media channels with company tagged
            mention.
        </p>
        <p><i>
                Full CPU program information is available by contacting our Executive Director. This includes the
                financial contribution amount tiers and corresponding recognition.
            </i></p>

        <div id="wall">
            <div id="wallLeft">
                <img id="wallImg" src="/assets/warehouseImg3.png" alt="our office CPU wall" />
                <p> </p>
            </div>
            <div id="wallRight">
                <button class="buttonStyle" id="CPUButton">Join the Community Partner Union (CPU)</button>
                <p>
                    Interested in joining? Please contact our Executive Director to discuss your interests and she can
                    discuss the tiers and community impact for each.
                </p>
                <p><i>
                    Thank you for believing in a connected community.
                </i></p>
            </div>
        </div>

        <div id="warehouse">
            <div id="warehouseImgs">
                <img class="warehouseImg" src="/assets/warehouseImg1.jpg" alt="our warehouse CPU supporters" />
                <img class="warehouseImg" src="/assets/warehouseImg2.jpg" alt="our warehouse CPU supporters" />
            </div>
            <p>Logo sign placement and recognition in The Shore Foundation warehouse</p>
        </div>
    </div>
</div>