<div id="fullPage">

    <div id="banner">
        <img class="icon" src="/assets/SupportIcon.svg" alt="The Shore Foundation - Support" />

    </div>
    <div id="topDiv">
        <div id="imgDiv">
            <img src="/assets/CornerDot.svg" id="corner" alt="circuit design" />
        </div>
        <div id="topText">
            <h1>Support The Shore Foundation</h1>
            <p>Your support of The Shore Foundation directly impacts our community and people in-need who lack access to
                technology. We appreciate the individuals, companies, foundations and organizations that assist in our
                efforts.</p>
        </div>
    </div>
    <div id="donateDiv">
        <button id="donateBtn" routerLink="/donate">Donate Now</button>
        <p>Personal donations of any amount are greatly appreciated. Your contribution funds the refurbishment of a
            computer and that could be the first computer, ever, for someone. Thank you for believing in a connected
            community. </p>
    </div>
    <div id="givingGroups">
        <div class="groupDiv">
            <img class="supportImg" src="/assets/supportCPU.png" alt="CPU Support" />
            <div class="supportSection">
                <h2>Corporate support</h2>
                <p>Our <i>CPU (Community Partner Union)</i> is made of companies and foundations that financially support The Shore Foundation.</p>
                <button class="buttonStyle" routerLink="/cpu">Community Partner Union (CPU) details</button>
            </div>
        </div>
        <div class="groupDiv">
            <img class="supportImg" src="/assets/supportPower.png" alt="Power Support" />
            <div class="supportSection">
                <h2>Individual donors</h2>
                <p>Our <i>Power Generators</i> are individuals who provide annual financial contributions that support The Shore Foundation's mission and impact on the digital divide.</p>
                <button class="buttonStyle" routerLink="/power">Power Generators giving group details</button>
            </div>
        </div>
        <div class="groupDiv">
            <img class="supportImg" src="/assets/supportCloud.png" alt="Cloud Support" />
            <div class="supportSection">
                <h2>In-kind contributions</h2>
                <p>Our <i>cloud support</i> is made of companies and individuals that support The Shore Foundation through in-kind donations and volunteer efforts.</p>
                <button class="buttonStyle" routerLink="/cloud">Cloud Support In-Kind Contributor details</button>
            </div>
        </div>
    </div>

</div>