<div id="fullPage">

    <div id="banner"></div>
    <div id="topDiv">
        <div id="imgDiv">
            <img src="/assets/CornerDot.svg" id="corner" alt="circuit design" />
        </div>
        <div id="topText">
            <h1>Support The Shore Foundation</h1>
            <p>Your support of The Shore Foundation directly impacts our community and people in-need who lack access to technology. We appreciate the individuals, companies, foundations and organizations that assist in our efforts.</p>
        </div>
    </div>
    <div id="donateDiv">
        <button id="donateBtn" routerLink="/donate">Donate Now</button>
        <p>Personal donations of any amount are greatly appreciated. Your contribution funds the refurbishment of a computer and that could be the first computer, ever, for someone. Thank you for believing in a connected community. </p>
    </div>
    <div id="givingGroups">
        <div class="groupDiv">

        </div>
        <div class="groupDiv">

        </div>
        <div class="groupDiv">

        </div>
    </div>

</div>