<div id="fullPage">

    <div id="banner">
        <img class="icon" src="/assets/SupportIcon_Cloud.svg" alt="The Shore Foundation - Support" />
    </div>

    <div id="heading">
        <img id="cloudLogo" src="/assets/supportCloud.png" alt="Community Partner Union logo" />
        <div id="headingRight">
            <h1>
                In-kind supporters
            </h1>
            <h2>
                Our <b>cloud support</b> is made of companies and individuals that support The Shore Foundation through in-kind donations and volunteer efforts.
            </h2>
        </div>
    </div>
    <div id="content">
        <p>
            Much like a cloud is overhead, in-kind contributions greatly impact The Shore Foundation and offset our overhead expenses. And in the digital world, resources are often stored in "the cloud."
        </p>
        <p>
            These <b>Cloud Support</b> in-kind contributors provide valuable resources of technology, tools, time and talent to help us fulfill our mission at The Shore Foundation.
        </p>
        <h2>
            <b>Help us with our "overhead" through in-kind contributions</b>
        </h2>
        <p>
            Thank you to our dedicated in-kind donors <i>(full listing to come soon).</i>
        </p>
        <div id="clouds">
            <img id="cloudsImg" src="/assets/clouds.png" alt="Our cloud support tiers" />
        </div>

        <p>
            Recognition for in-kind contributions include a formal donation acknowledgement letter, company name listed on this webpage, plaque on recognition wall, inclusion on mailing list and an annual thank you gift.* 
        </p>

        <div id="wall">
            <div id="wallLeft">
                <img id="wallImg" src="/assets/warehouseImg6.jpg" alt="our office cloud wall" />
                <p> </p>
            </div>
            <div id="wallRight">
                <button class="buttonStyle" id="CPUButton">Join the Cloud Support In-kind Contributors</button>
                <p>
                    Interested in learning more about our in-kind donation needs? Please contact our Executive Director to discuss areas for support.
                </p>
                <p>Our volunteer form is located here: <a href="www.theshorefoundation.com/volunteer">www.theshorefoundation.com/volunteer</a></p>
                <p><i>
                    Thank you for believing in a connected community.
                </i></p>
            </div>
        </div>

        <div id="warehouse">
            <div id="warehouseImgs">
                <img class="warehouseImg" src="/assets/warehouseImg7.jpg" alt="our warehouse CPU supporters" />
                <img class="warehouseImg" src="/assets/warehouseImg8.jpg" alt="our warehouse CPU supporters" />
            </div>
            <p>Cloud support recognition wall</p>
        </div>
    </div>

</div>