<div id="fullPage">
    <div id="banner">
        <img class="icon" src="/assets/ImpactIcon.svg" alt="The Shore Foundation - Impact" />
    </div>
    <h1 id="title">Our Impact</h1>
    <h2 id="subtitle">See our three main programs</h2>
    <div id="columns">

        <div id="reuseDiv" class="row">
            <div id="reuseLeft">
                <div id="headingDiv">
                    <h1 class="heading">Reuse</h1>  
                    <img id="shortLine" src="/assets/ShortLine_dot.svg" alt="circuit line design" />
                </div>
                <h2>Our Computer Refurbishment Process:</h2>
                <p>Corporations like MARS Inc. send us their used laptops, desktops, and peripherals, and we give them a
                    new life and a good home.</p>
                
                <img id="reuseImg" src="/assets/reusing.jpg" alt="Reuse and refurbish computers">
            </div>
            <div id="rows">
                <div id="topRow">
                    <div class="step">
                        <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                        <p class="stepText"><b>Step 1:</b> Apply barcode asset tag and scan into system for tracking
                            through
                            the
                            process.</p>
                    </div>
                    <div class="step">
                        <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                        <p class="stepText"><b>Step 2:</b> Data wipe. Plug computer into our network software and
                            receive
                            certificate of destruction.</p>
                    </div>
                    <div class="step">
                        <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                        <p class="stepText"><b>Step 3:</b> Install a Microsoft licensed Windows 10 package which
                            includes
                            built-in essential software such as antivirus, Open Office, and Adobe PDF reader.</p>
                    </div>
                </div>
                <div id="bottomRow">
                    <div class="step">
                        <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                        <p class="stepText"><b>Step 4:</b> Test supporting equipment for working functionality: charger,
                            keyboard, mouse, and monitor.</p>
                    </div>
                    <div class="step">
                        <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                        <p class="stepText"><b>Step 5:</b> Physically clean computer and donate it to a local school or
                            non-profit!</p>
                    </div>
                </div>
            </div>

        </div>

        <div id="recycleDiv" class="row">
            <div id="reuseLeft">
                <div id="headingDiv">
                    <h1 class="heading">Recycle</h1>  
                    <img id="shortLine" src="/assets/ShortLine_dot.svg" alt="circuit line design" />
                </div>
                <h2>Responsible E-waste</h2>
                <p>Some devices are not able to move on to a new life, so we make sure they are safely disposed of.</p>
                
                <img id="reuseImg" src="/assets/recycling.jpg" alt="Reuse and refurbish computers">
            </div>
            <div id="threeCompanies">

            </div>
        </div>

        <div id="connectDiv" class="row">
            <div id="reuseLeft">
                <div id="headingDiv">
                    <h1 class="heading">Connect</h1>  
                    <img id="shortLine" src="/assets/ShortLine_dot.svg" alt="circuit line design" />
                </div>
                <h2>Responsible E-waste</h2>
                <p>Some devices are not able to move on to a new life, so we make sure they are safely disposed of.</p>
                
                <img id="reuseImg" src="/assets/connecting.jpg" alt="Reuse and refurbish computers">
            </div>
        </div>
    </div>

</div>