<div id="fullPage">
    <div id="banner">
        <img class="icon" src="/assets/ImpactIcon.svg" alt="The Shore Foundation - Impact" />
    </div>
    <h1 id="title">Our Impact</h1>
    <h2>See our three main programs</h2>
    <div id="columns">

        <div id="reuseDiv" class="column">
            <h1 class="heading">Reuse</h1>
            <p>Corporations like MARS Inc. send us their used laptops, desktops, and peripherals, and we give them a new life and a good home.</p>
            <h2>Our Computer Refurbishment Process:</h2>
            <img id="reuseImg" src="/assets/reusing.jpg" alt="Reuse and refurbish computers">
            <div class="step">
                <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                <p class="stepText"><b>Step 1:</b> Apply barcode asset tag and scan into system for tracking through the process.</p>
            </div>
            <div class="step">
                <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                <p class="stepText"><b>Step 2:</b> Data wipe. Plug computer into our network software and receive certificate of destruction.</p>
            </div>
            <div class="step">
                <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                <p class="stepText"><b>Step 3:</b> Install a Microsoft licensed Windows 10 package which includes built-in essential software such as antivirus, Open Office, and Adobe PDF reader.</p>
            </div>
            <div class="step">
                <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                <p class="stepText"><b>Step 4:</b> test supporting equipment for working functionality: charger, keyboard, mouse, and monitor.</p>
            </div>
            <div class="step">
                <img class="circle" src="/assets/HalfCircle.svg" alt="step 1: scan and asset tag" />
                <p class="stepText"><b>Step 5:</b> physically clean computer and donate it to a local school or non-profit!</p>
            </div>
            
        </div>

        <div id="recycleDiv" class="column">
            <h1 class="heading">Recycle</h1>
            
        </div>

        <div id="connectDiv" class="column">
            <h1 class="heading">Connect</h1>
        </div>
    </div>

</div>