/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap-css/bootstrap.css"; */

@font-face {
    font-family: shark;
    src: url(/assets/sabreshark.ttf);
}

@font-face {
    font-family: aero;
    src: url(/assets/AeroMaticsLight.ttf)
}

@font-face {
    font-family: kim;
    src: url(/assets/kimberley.otf);
}

body {
    background-color: white;
    color: black;
    font-family: aero;
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
}

#accentLeft {
    transform: scaleX(-1);
    width: 90px;
}
#accentRight {
    width: 90px;
}
#accentLeftDown {
    width: 90px;
    height: 220.58px;
    transform: scaleY(-1) scaleX(-1);
    top: -50px;
}
#accentRightDown {
    width: 90px;
    height: 220.58px;
    transform: scaleY(-1);
}
#graphicL {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
#graphicR {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}