<div id="fullPage">

    <div id="banner">
        <img class="icon" src="/assets/SupportIcon_PowerGen.svg" alt="The Shore Foundation - Power Generators Support" />
    </div>

    <div id="heading">
        <img id="powerLogo" src="/assets/supportPower.png" alt="Power Generators Support" />
        <div id="headerText">
            <h1>Individual donors</h1>
            <p>
                Our <b>power generators</b> are generous donors that personally support the mission of The Shore Foundation with a financial contribution. 
            </p>
        </div>
    </div>

    <div id="content">

        <p>
            A generator converts one form of energy into another, much like our donors who's contributions become refurbished computers for people in-need. The <b>Power Generators</b> giving group provides annual financial contributions in support of The Shore Foundation.
        </p>
        <p>
            Generators are a reliable power source, and the same is true for this giving group. We appreciate their steadfast support and the energy they provide to our mission.
        </p>
        <h2>
            <b>Powering the Mission of The Shore Foundation</b>
        </h2>
        <p>
            Thank you to our generous individual donors <i>(full listing to come soon).</i>
        </p>
        <img src="/assets/powerTiers.png" alt="our 4 power generator tiers" />
        <p id="borderTop">
            Donors will receive a formal donation acknowledgement letter, name plaque on the giving group recognition wall, inclusion on mailing list, invitations to exclusive events, name mention in annual listing on website, newsletters, and annual reports and a yearly thank you gift.
        </p>
        <div id="wall">
            <img id="wallImg" src="/assets/powerWall.png" alt="power generator wall" />
            <div id="wallRight">
                <button class="buttonStyle" id="cloudButton">Join our Power Generator Giving Group</button>
                <p id="borderTop">
                    Interested in donating today? Credit card donations are processed on our <a routerLink="/donate">donate webpage</a>, or you may contact our Executive Director to discuss your interests.
                </p>
                <p>
                    <i>Thank you for believing in a connected community.</i>
                </p>
            </div>
        </div>


    </div>

</div>